
html {
  font-size: $html--font-size; /* 10px browser default */
}

body {
  background: $body--background-color; /* Fallback */
  color: $base__color;
  font-family: $base--font-family;
  @include rem( font-size, $base--font-size );
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base--line-height;
  margin: 0;
  opacity: 0;

  // Fade in the body so that other animations are less choppy. Body will still display even if the browser has JS disabled
  &.body-loaded, &.virtuoso-no-js {
    opacity: 1;
    transition: opacity 1s;
  }
}