#slide_out_sidebar {

  .virtuoso-block {
    padding: 0;
  }

  .bio_container {
    padding-bottom: 100px;
  }

  h3 {

    strong {
      position: relative;
      left: 60px;
    }
  }

  .widgettitle {
    text-align: left;
  }

  .image_wrap {
    border-radius: 4px;
    box-shadow: none;
    width: 100%;

    img {
      border-radius: 4px;
    }
  }

  .widget {
    width: 84%;
    margin-top: 20px;
    height: 100%;
  }

  #close_slider {
    top: 20px;
    background: none;
  }

  section {

    &:not(:first-child) {
      border-left: 1px solid $green-rev-dark-green;
      padding: 0 2em;
    }

  }

}
