/* ## Mobile Navigation
--------------------------------------------- */

//.logged-in .mobile-navigation.mobile-navigation-open {
//  margin-top: 40px;
//}

.mobile-navigation {
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  background: $nav--link-color;

  &.mobile-navigation-open {
    height: 100vh;
    width: 100vw;
    left: 0;
    position: absolute;
    z-index: 99999;
    ul {
      margin: 30px auto;

      &.sub-menu {
        margin: 0 auto;

        //li {
        //  &::after {
        //    content: "";
        //    border-top: 2px solid;
        //    width: 2em;
        //    display: block;
        //    margin: .2em auto;
        //  }
        //}

      }

    }

    li {
      display: block;

    }

    .responsive-menu-icon {
      top: unset;
      height: unset;
      margin-top: unset;
      right: unset;
      left: 0;
      margin: 20px;

    }
  }
}