/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $primary-sidebar--width;

  @include media-query( 'xlg' ) {
    width: $primary-sidebar--width-larger-screen;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}

