/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  display: table; // If put into display block the div will not fill the height
  width: 100%;
  background: $footer-widgets--background-color;
  @include rem(font-size, $footer-widgets--font-size);
  clear: both;
  padding: 20px 0;

  @include media-query('med') {
    padding: 60px 0;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

    a {
      color: $footer-widgets--link-color;
    }
  }

  .footer-widgets-left-column & {
    .wrap {

      @include media-query('med') {
        flex-direction: row;
        //text-align: left;
      }

    }

    .widget-area {
      flex: 1;
      padding: 50px 0 0 0;

      @include media-query('med') {
        padding: 0;
      }
    }
  }

  .footer-widgets-block & {
    .widget-area {
      margin: 20px 0 0 0;
      @include media-query('med'){
        margin: 0;

      }
    }

    @include media-query('med') {

      .wrap {
        flex-direction: row;
        text-align: center;
      }

      .widget-area:first-child {
        display: flex;
        margin: 0 0 50px 0;
        flex-basis: calc(100% - 22px);
        justify-content: center;
        flex-direction: column;

      }

      .widget-area {
        display: flex;
        flex-basis: calc(33.33% - 14px);
        justify-content: center;
        flex-direction: column;

      }
    }

  }

  .widget-title {
    @include rem(font-size, $footer-widgets--font-size);
  }

  .widget_media_image {
    width: $footer-widths--image;
    margin: 0 auto;

    & img {
      width: 100%;
    }

  }

}