/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background: $siteFooter--background-color;
  @include rem( font-size, $site-footer--font-size );
  line-height: 1;
  text-align: center;

  > .wrap {
    color: $siteFooter--color;
    border-top: 1px solid $site-footer--border-color;
    padding: 5vw;

    @include media-query('med'){
      padding: 3rem;
      width: 90%;

    }

  }

  .footer-login {
    margin-left: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid $siteFooter__login--border-color;

    &:hover {
      border-bottom: none;
    }
  }

  a {
    color: $siteFooter--link-color;
  }

  p {
    margin-bottom: 0;
    line-height: 1.5;
  }
}