/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: $siteFooter--background-color;
  @include rem( font-size, $site-footer--font-size );
  line-height: 1;
  text-align: center;

  > .wrap {
    color: #adb5bd;
    border-top: 1px solid #f0f1f2;
    padding: 5vw;

    @include media-query('med'){
      padding: 3rem;
      width: 90%;

    }

  }

  p {
    margin-bottom: 0;
  }
}