//
// Title Area Base Styles
//==============================

.title-area {

  .header-logo-middle & {
    display: inline-block;
    height: $site-title--min-height;
    margin-right: auto;
    margin-left: auto;
    width: $title-area--width;
  }

  .header-logo-left & {
    float: left;
    position: relative;
    z-index: 1;
  }

}
