//
// Site Title
//========================

.site-title {
  @include rem( font-size, $site-title--font-size );
  font-weight: 700;
  line-height: 1.2;

  a {
    background: url('../../assets/images/logo.svg') no-repeat 0;
    background-size: contain;
    float: left;
    height: $site-title--min-height;
    width: 100%;
  }

  > a {
    display: block;
    //height: 50px;
    text-indent: -9999px;
  }

  a,
  a:hover,
  a:focus {
    color: $site-title--link-color;
    text-decoration: none;
  }

}